# ___

# [ Python self-test]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*


___

This is a collection of various basic Python programming exercises.  Python is needed for Machine Learnign for Geosciences course. Students are expected to self-evaluate their knowledge and possibly navigate to topices needed to improve.

Code cells are empty or partly developed. It is expected that student will fill-in the corresponding part to get correct result. The expected result is printed blow. Each section where students shall enter their solution is commented by `# complete here`. The command `pass` shall be replaced with correct code. 

Run each completed box by pressing shift-enter or using the play button in the toolbar.

### Variable assigment

In [12]:
# create a varable a and assign value of 5 to it 
# complete here
pass
print(a)

5

### Numerical data types

In [5]:
x = 1.0

In [14]:
# print type of x
# complete here
pass

<class 'float'>

In [15]:
# convert x to float and print its type
x = '11'
# complete here
x = float(x)
pass

<class 'float'>

### Operators

In [ ]:
# +  -  *  /

In [16]:
# assign y to 1 and add 2
# complete here
pass
print(y)

3

In [18]:
# assign y to 1 and subtract  2
# complete here
pass
print(y)

-1

In [19]:
# assign y to 2 and multiply by 3
# complete here
pass
print(y)

6

In [20]:
# assign y to 2 and divide by 3
# complete here
pass
print(y)

0.6666666666666666

In [22]:
# integer division of float numbers
# assign y to 3.0 and divid by 2.0
# complete here
pass
print(y)

1.0

In [24]:
# power operator
# assign y to 2 to compute power of 3 
# complete here
pass
print(y)

8

In [25]:
# binary AND 
# assign y to logical operation: true AND false
# complete here
pass
print(y)

False

In [26]:
# negation 
# assign y to not false 
# complete here
pass
print(y)

True

In [27]:
# bianry OR
# assign y to logical opeartion true OR false
# complete here
pass
print(y)

True

### Predicats

In [29]:
# Compare and evaluate if 2 higher than 1
# complete here
pass

True

In [30]:
# Compare and evaluate if 2 smaller or equal to two
# complete here
pass

True

In [31]:
# Equality comparison
# Compare and evaluate if list [1,2] is equal to [1,2]
# complete here
pass

True

In [32]:
# Equality comparison
# Compare and evaluate if 3 is equal to false.
# complete here
pass

False

In [33]:
# Compare and evaluate if 1 is equal to true.
# complete here
pass

True

### Strings

In [35]:
# Assign string 'Hello world' to variable s
# complete here
pass
print(s)

Hello world

In [36]:
# How long is the variable s? 
# complete here
pass

11

In [37]:
# Replace the string world with string 'test' and print the result
pass
print(s2)

Hello test

In [38]:
# Select and print the first element of string s 
# complete here
pass

'H'

In [39]:
# Select and print the last element of string s 
# complete here
pass

'd'

In [40]:
# Select and print the first five elements of string s 
# complete here
pass

'Hello'

In [41]:
# Select and print the last five elements of string s 
# complete here
pass

'world'

In [42]:
# Define step size of 2 and print the extract (every second letter) from string
# complete here
pass

'Hlowrd'

In [43]:
# Join two strings using Python package os to create full path to the file 
# '/data/' 
# 'data.csv'
import os
# complete here
pass

'/data/experiment/data.csv'

In [44]:
# Format the following float variable to 3 decimals in print statement
# complete here
var = 3.14159
pass

variable = 3.142

In [45]:
# Round float variable to 2 decimals 
# complete here
var = 3.14159
pass

variable = 3.14

### Lists

In [46]:
# Create list variable l of numbers 1,2,3,4 and print it
# complete here
l = [1,2,3,4]
pass

[1, 2, 3, 4]

In [47]:
# Print second to third elements of list l 
# complete here
pass

[2, 3]

In [48]:
# Print first two elements of list l 
# complete here
pass

[1, 2]

In [49]:
# Print first element of list l 
# complete here
pass

1

In [50]:
# Don't have to be the same type
# create list l of mixed data types: integer, string, float, tuple of numbers 1 and 2
# complete here
l = [1, 'a', 1.0, (1, 2)]
pass

[1, 'a', 1.0, (1, 2)]

In [54]:
# Create list of series (named series) starting at 10, ending at 30 with step 2
# use range operator
start = 10
stop = 30
step = 2

# complete here
pass
print(list(series))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [61]:
# Create a new empty list l 
# complete here
pass
print(l)

[]

In [3]:
# Add an elements 'A' to the list, than 'B' and 'C'
# complete here
pass
pass
pass

print(l)

['A', 'B', 'C']

In [63]:
# Replace second element with 'b' and third element with 'c'
# complete here
pass 
print(l)

['A', 'b', 'c']

In [64]:
# Insert 'i' at the first element of the list l 
# insert 'n' at the second element of the list l 
# complete here
pass
pass

print(l)

['i', 'n', 'A', 'b', 'c']

In [65]:
# Remove element 'A' 
# complete here
pass
print(l)

['i', 'n', 'b', 'c']

In [66]:
# Delete the third element 
# complete here
pass

print(l)

['i', 'n', 'b']

### Tuples

In [67]:
# Create tuple point with slcalars 10 and 20 
# complete here
pass
print(point)

(10, 20)

In [68]:
# Unpack the values of point into x and y and print the values 
# complete here
pass

print("x =", x)
print("y =", y)

x = 10
y = 20

### Dictionaries

In [70]:
# Create dictionary params with three items: 
# theta1 equal to 1.0 
# theta2 equal to 2.0 
# theta3 equal to 3.0 
# complete here 
pass

print(params)

{'theta1': 1.0, 'theta2': 2.0, 'theta3': 3.0}

In [71]:
# Add one element to the dictionary params: 
# bias equal to 5.0 
# complete here 
pass
print(params)

{'theta1': 1.0, 'theta2': 2.0, 'theta3': 3.0, 'bias': 5.0}

### Control Flow

In [72]:
# Create if else statment
# first evaluation is based on statement1, print the value of statement
# second evaluation is based on statement2, print the value of statement
# print third evaluation with string 'Neither is true.' 

statement1 = False
statement2 = False

# complete here 
pass

Neither is true.

### Loops

In [73]:
# Create for loop iterating over numbers from 0 to 3, step 1
# print the numbers in the loop 
# complete here
pass

0
1
2
3

In [74]:
# Create for loop iterating over these strings "scientific", "computing", "with", "python"
# print the strings in the loop 
# complete here

pass

scientific
computing
with
python

In [76]:
# Create a loop iterating over elments of dictionary params
# print key and value in each step of the loop in a format: key = value
# e.g. parameter1 = 1.0

# complete here
pass

theta1 = 1.0
theta2 = 2.0
theta3 = 3.0
bias = 5.0

In [77]:
# Create a loop over range (-3, 3), which prints tuple of index and value 
# e.g. (0, -3), etc. 

# complete here
pass

0 -3
1 -2
2 -1
3 0
4 1
5 2

In [78]:
# List comprehension 
# creat a list of values to the power of 2 from range(0,5) using list comprehension 

# complete here
pass
print(l1)

[0, 1, 4, 9, 16]

In [79]:
# Use while loop to iterate from 0 to 4, print the index values
# at the end print statement 'done'

# complete here
pass
print("done")

0
1
2
3
4
done

### Functions

In [80]:
# Create a function func() which takes variable s (string) and print how many characters the string has. 
# e.g. s has x characters 
# include a docstring

# complete here 
pass

In [81]:
# Print first the help of the function
# complete here
pass

Help on function func in module __main__:

func(s)
    Print a string 's' and tell how many characters it has

In [82]:
# Use the function func(s), pass string 'Test'

# complete here
pass

Test has 4 characters

In [83]:
# Create function square, which takes numerical value and returns square value of the input

# complete here
pass

In [84]:
# Use the function square, pass number 5 and print it

# complete here
pass

25

In [85]:
# Create function powers with multiple return values
# it shall return power of 2, 3, and 4

# complete here
pass

In [86]:
# Use the function powers, pass number 5 

# complete here
pass

(25, 125, 625)

In [87]:
# Unpack the power vlaues into variables x1, x2, and x3, print them separated by chartacter ':'

# complete here
pass
print(x1,':',x2,':',x3)

25 : 125 : 625

In [90]:
# Create anonimate function with lambda, which returns power of 2 of the input number 

# complete here
pass

In [91]:
# Use the function, pass in value 5 and print the result

# complete here
pass

25

In [92]:
# Create lambda function returning power of 2 for input of range(-3, 4) 
# use map to pass range values to lambda, print the values, you can use e.g. list  

pass

[9, 4, 1, 0, 1, 4, 9]

In [93]:
# Print the values of the above map function in a loop 
pass

9
4
1
0
1
4
9

In [94]:
#------------------------------------------------------------------------------------------------------------------#

### Classes

In [95]:
# Crete Python class Point initiated with two numerical values x and y 
# add method translate, which adds values of dx and dy to the internal class values of x and y 
# add also __str__ method printing string: "Point at x, y"

# complete here
class Point:
    def __init__(self, x, y):
        pass
        pass
        
    def translate(self, dx, dy):
        pass
        pass
        
    def __str__(self):
        pass

In [98]:
# Create an instance of class Point, initiated with values of 1, 1
# prin the point 

# complete here
pass
print(p1)

Point at [1.000000, 1.000000]

In [99]:
# Update the values of point p1 with 0.25 of x and 1.5 of y 
# use your method translate

# complete here
pass

print(p1)

Point at [1.250000, 2.500000]

In [100]:
# Create class Point2, whcih inherits from class Point and extend the functionality for method vector 
# which returns the size of the vector of the point from origin 
# complete here 

import math 

class Point2(Point): 
    def __init__(self, x, y):
        super().__init__(x, y)
        pass
        pass
        pass
    def vector(self):
        pass
        return self.size

In [101]:
# Test your extended class Point2, intitate it with values of 2, 2 
# prin the size of the vector 

# complete here
pass
print(p2)
pass

Point at [2.000000, 2.000000]
2.828

### Exceptions

In [102]:
# Create an exception statement for printing test1
# you try to print the result of the test1, which doesnt exist at the current state and you capture exception, 
# which prints this string: 'Caught an exception on test1'

# complete here
try:
    pass
except:
    pass

Caught an expection

In [103]:
# extend the above exeption statement for the type of the exception, 
# print it in the exception clause: "Caught an exception: name 'test1' is not defined"

# complete here
try:
    pass
except Exception as e:
    pass

Caught an exception: name 'test1' is not defined